<% location.numerical_responses.each do |numerical_response| %>
<tr>
  <td rowspan="2"><%= link_to(location.name, location) %></td>
  <td rowspan="2"><%= numerical_response.question.question_text %></td>
  <% numerical_response.response_hash.each do |label, number, percentage| %>
  <td><%= label %></td>
    <td>
      <%= render partial: 'numerical_answers/vote_meter', locals: {number: number, percentage: percentage} %>
    </td>
</tr>
  <% end %>
<% end %>