<div class="row">
  <div class="small-12 columns clearfix">
    <h1 class="left">Activity</h1>
    <%= link_to 'Export', numerical_answers_path(format: 'csv'), class: 'button right' %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <table style="width: 100%">
      <thead>
        <tr>
          <th width="100">Address</th>
          <th width="150">Question</th>
          <th width="200">Response</th>
        </tr>
      </thead>
      <tbody>
        <% @locations.each do |location| %>
            <%= render partial: 'numerical_answers/vote', locals: {location: location} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
